

*{
    box-sizing: border-box;
    margin: 0px 5px;
    padding: 0px;
}
 

#size{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-49%) ;
    color: red;
    // border: red 1px solid;
}

.container{
    height: 100vh;
}

.header{
    height: 10%;
    // border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo{
        display: flex;
        flex-direction: row;
        font-size: 4.5vw;
    }

    &__menu{
        display: flex;
        flex-direction: row;
        font-size: 2.5vw;
        gap: 12px;
    }
}

.main{
    height: 80%;
    // border: 2px solid green;
   
    display: flex;
    flex-direction: row;

    &__text{
        width: 50%;
        // border: solid 10px red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2%;

        &-1{
            font-size: 10vw;
        }

        &-2,&-3,&-4{
            font-size: 5vw;
        }
    }

    &__image{
        background-image: url('./images/Portrait.png');
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        // border:  solid 10px green;
    }
}

.footer{
    height: 10%;
    // border: 2px solid black;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    margin: 2% 10%;
    // flex-direction: column;

    [class^=footer__]{
        img{
            width: 5.3vw;
        }
    }

    // &__instagram{
    //     width: 20%;
    //     // background-image: url('./images/instagram.png');
    // }

    // &__behance{
    //     width: 20%;
    //     // background-image: url('./images/behance.png');
    // }

    // &__dribbble{
    //     width: 20%;
    //     // background-image: url('./images/dribbble-logo.png');
    //     // background-size: contain;
    //     // background-repeat: no-repeat;
    // }

    // &__twitter{
    //     // background-image: url('./images/twitter-sign.png');
    //     width: 20%;
    // }
}

// @media (max-width: 650px){
//     .header{
//         align-items: center;
//             justify-content: center;

//         &__menu{
//             display: none;
//         }

//         // &__logo{
            
//         // }
//     }

//     .main{
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         background-size: 100%;

//         &__image{
//             width: 200px;
//             height: 200px;
//             border-radius: 100%;
//             background-position: center;
//         }

//         &__text{
//             font-size: 3vw;
//         }
//     }

//     .footer{
//         justify-content: center;
//         margin: 0;
//     }
// }

.alphabets{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 20vw;
    height: 20vh;
    
    &__a{
        width: 5vw;
        height: 5vw;
        background-color: grey;
        border: 1px solid red;

    }
}

